.bg-login{
    text-align: center;
    align-items: center;
    background-image: url('/partener/assets/together.svg');
    background-repeat: no-repeat;
    
}

.google{
    
    border: 1px solid rgba(77, 75, 75, 0.5);;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.google:hover {
    border-radius:  50%;
    background-color: var(--primary);
    color: white;
    transition: all ease-out 0.2s;
}

.bg-login form input, .bg-login form input:focus{
    color: var(--primary);
}